.logo-name{
  width: 200px;
  height: 68px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 68px;
}
.ant-layout {
  height: 100%;
}
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .site-layout .site-layout-header-background{
    background-color: #fff;
  }
  .site-layout .site-layout-background {
    background: rgb(240, 242, 245);
  }
  
  .content-head{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    .card{
      width: 20vw;
      height: 100%;
      border-radius: 5px;
      padding: 20px;
      color: #fff;
      flex-flow: column;
      display:flex;
      justify-content: space-between;
      .card-top{
        display: flex;
        justify-content: space-between;
      }
      .card-center{
        font-size: 24px;
      }
      .card-bottom {

      }
    }
    
    .card1{
      background-color: #ffaba6;
    }
    .card2{
      background-color: #4fa7ef;
    }
    .card3{
      background-color: #5fd6c3;
    }
    .card4{
      background-color: #d987f6;
    }
  }
  .content-conter{
    display: flex;
    justify-content: space-between;
    background: rgb(240, 242, 245);
    margin-top: 20px;
    width: 100%;
    height: 700px;
    border-radius: 5px;
    .content-left{
      padding: 20px;
      background: #fff;
      flex: 2;
      border-radius: 5px;
      text-align: center;

    }
    .content-right{
      padding: 20px;
      margin-left: 20px;
      background: #fff;
      flex: 1;
      border-radius: 5px;

    }
  }
  .content-bottom{
    display: flex;
    justify-content: space-between;
    background: rgb(240, 242, 245);
    margin-top: 20px;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    .content-left{
      background: #fff;
      flex: 2;
      border-radius: 5px;

    }
    .content-right{
      background: #fff;
      margin-left: 20px;
      flex: 1;
      border-radius: 5px;

    }
  }