.content-head{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    .card{
      width: 20vw;
      height: 100%;
      border-radius: 5px;
      padding: 20px;
      color: #fff;
      flex-flow: column;
      display:flex;
      justify-content: space-between;
      .card-top{
        display: flex;
        justify-content: space-between;
      }
      .card-center{
        font-size: 24px;
      }
    }
    
    .card1{
      background-color: #ffaba6;
    }
    .card2{
      background-color: #4fa7ef;
    }
    .card3{
      background-color: #5fd6c3;
    }
    .card4{
      background-color: #d987f6;
    }
  }
  .content-conter{
    display: flex;
    justify-content: space-between;
    background: rgb(240, 242, 245);
    margin-top: 20px;
    width: 100%;
    height: 700px;
    border-radius: 5px;
    .content-left{
      padding: 20px;
      background: #fff;
      flex: 2;
      border-radius: 5px;
      text-align: center;

    }
    .content-right{
      padding: 20px;
      margin-left: 20px;
      background: #fff;
      flex: 1;
      border-radius: 5px;
      .side-title{
        font-size: 18px;
        font-weight: bold;
      }
      .year-total{
        margin-top: 30px;
        .amount{
          font-size: 28px;
        }
      }
      .progress{
        margin-top: 60px;
      }
    }
  }
  .real-time-information{
    display: flex;
    justify-content: space-between;
      .amount{
        font-size: 24px;
      }
      .order-quantities{
        margin-top: 30px;
        
      }
      .percent{
        text-align: center;
        margin-top: 10px;
      }
  }
